/node_modules
.env

amazon-clone/node_modules
amazon-clone/.pnp
amazon-clone/.pnp.js

amazon-clone/build


amazon-clone/.DS_Store
amazon-clone/.env.local
amazon-clone/.env.development.local
amazon-clone/.env.test.local
amazon-clone/.env.production.local

amazon-clone/npm-debug.log*
amazon-clone/yarn-debug.log*
amazon-clone/yarn-error.log*